/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #222;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* background-image: url(../img/hero-bg-pink.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* SITE HERO */

.site-hero{
  padding-top: 93px;
  padding-bottom: 130px;
  position: relative;
  background-image: url(../img/hero-bg-pink.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: calc(50% + 418px) -26px;
  /* z-index: 99; */
}

.site-hero::before{
  content: "";
  display: block;
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: calc(50% - 195px);
  background-image: url(../img/it-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* z-index: -1; */
}

.site-hero__title{
  font-family: 'Poppins', sans-serif;
  width: 613px;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: #170C04;
  margin: 0;
  padding: 0;
}

.site-hero__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 50px;
}

.link_buy__now{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  background: #E27B3A;
  border-radius: 24px;
  padding: 12px 30px;
  border: 1px solid transparent;
  transition: color 0.4s ease,
   background-color 0.4s ease,
   border-color 0.4s ease;
}

.link_buy__now:hover{
  color: #E27B3A;
  background-color: #ffffff;
  border-color: #E27B3A;
}

.link-see__detal{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  text-decoration: none;
  border: 1px solid #E27B3A;
  border-radius: 24px;
  padding: 12px 30px;
  margin-left: 20px;
  transition: color 0.4s ease,
   background-color 0.4s ease;
}

.link-see__detal:hover{
  background-color: #E27B3A;
  color: #FFFFFF;
}